@use "../global/variables" as var;
@use "../global/mixins" as mix;

.hero {
  position: relative;

  background-color: var.$hero-background;

  width: 100%;
  height: auto;

  &--index {
    background-image: url("../img/jpg/hero-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-position: center -17px;
    background-size: contain;
    background-color: var.$index-hero-background;
  }

  @media (min-resolution: 2dppx) {
    &--index {
      background-image: url("../img/jpg/hero-mobile@2x.jpg");
    }
  }

  @media (min-width: var.$tablet-width) {
    margin: -67px 0 0 0;

    &::before {
      content: "";
      position: absolute;

      bottom: -1px;
      left: 0;

      width: 100%;
      height: 24px;

      background-image: url("../img/svg/zigzag-fill-tablet.svg");
      background-repeat: no-repeat;
      background-size: cover;

      z-index: 2;
    }

    &--index {
      background-position: center top;

      background-image: url("../img/jpg/hero-tablet@1x.jpg");
    }

    @media (min-resolution: 2dppx) {
      &--index {
        background-image: url("../img/jpg/hero-tablet@2x.jpg");
      }
    }
  }

  @media (min-width: var.$desktop-width) {
    margin: -64px 0 0 0;

    &::before {
      height: 34px;

      background-image: url("../img/svg/zigzag-fill-desktop.svg");
      background-size: 100% 34px;
    }

    &--index {
      background-image: url("../img/jpg/hero-desktop@1x.jpg");
    }

    @media (min-resolution: 2dppx) {
      &--index {
        background-image: url("../img/jpg/hero-desktop@2x.jpg");
      }
    }
  }
}

.hero__wrapper {
  padding: 73px 30px;

  @media (min-width: var.$tablet-width) {
    padding: 100px 50px 87px 50px;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.hero--index .hero__wrapper {
  padding: 73px 30px 120px 30px;

  @media (min-width: var.$tablet-width) {
    padding: 155px 50px 372px 50px;
  }

  @media (min-width: var.$desktop-width) {
    padding: 159px 50px 354px 50px;
  }
}

.hero__heading {
  @include mix.font(var.$bold-text, 27px, 700, 30px);

  margin: 0;

  text-align: center;

  @media (min-width: var.$tablet-width) {
    @include mix.font(var.$bold-text, 43px, 700, 50px);
  }

  @media (min-width: var.$desktop-width) {
    @include mix.font(var.$bold-text, 53px, 700, 57px);
  }
}

.hero__menu-list {
  @include mix.list-reset;

  @media (min-width: var.$tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    padding: 0 50px;

    box-sizing: border-box;
  }

  @media (min-width: var.$desktop-width) {
    max-width: 1150px;
    margin: 0 auto;
  }
}

.hero__menu-item {
  @media (min-width: var.$tablet-width) {
    width: 50%;
  }
}

.hero__menu-link {
  @include mix.font(var.$bright-text, 19px, 700, 24px);

  display: block;

  padding: 24px 160px 31px 30px;

  background-color: var.$hero-link-background;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    background-repeat: no-repeat;

    opacity: 0.5;
  }

  &:hover {
    &::before {
      opacity: 0.7;
    }
  }

  &:active {
    &::before {
      opacity: 0.3;
    }
  }

  &--interior {
    &::before {
      top: 25px;
      right: 36px;

      width: 40px;
      height: 62px;

      background-image: url("../img/svg/interior.svg");
    }

    &:hover {
      background-color: var.$hero-link-background-hover;
    }

    &:active {
      background-color: var.$hero-link-background-hover;
    }
  }

  &--toys {
    background-color: var.$hero-link-additional-background;

    &::before {
      top: 21px;
      right: 27px;

      width: 60px;
      height: 60px;

      background-image: url("../img/svg/toy.svg");
    }

    &:hover {
      background-color: var.$hero-link-additional-background-hover;
    }

    &:active {
      background-color: var.$hero-link-additional-background-hover;
    }
  }

  @media (min-width: var.$tablet-width) {
    @include mix.font(var.$bright-text, 20px, 700, 30px);

    padding: 25px 167px 46px 36px;

    transform: translateY(0);

    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-5px);
    }

    &--interior {
      &::before {
        top: 30px;
      }
    }

    &--toys {
      &::before {
        top: 31px;
        right: 33px;
      }
    }
  }

  @media (min-width: var.$desktop-width) {
    padding: 25px 350px 51px 37px;

    &--toys {
      &::before {
        right: 35px;
      }
    }
  }
}
