@use "../global/variables" as var;
@use "../global/mixins" as mix;

.main-button {
  @include mix.font(var.$main-button-font, 18px, 700, 20px);
  text-transform: uppercase;

  padding: 10px;

  display: flex;

  justify-content: center;
  align-items: center;

  width: 100%;
  min-height: 52px;

  background-color: var.$main-button-background;
  border: 2px solid var.$main-button-border;

  box-sizing: border-box;

  cursor: pointer;

  transition: color 0.3s ease, background-color 0.3s ease;

  &:hover {
    color: var.$main-button-hover-font;

    background-color: var.$main-button-hover-background;
  }

  &:active {
    color: var.$main-button-active-font;

    background-color: var.$main-button-hover-background;
  }

  &:disabled {
    opacity: 0.3;

    pointer-events: none;

    cursor: default;
  }
}
