@use "../global/variables" as var;
@use "../global/mixins" as mix;

.main-navigation__toggle {
  position: absolute;

  top: 29px;
  right: 30px;

  width: 21px;
  height: 20px;

  background-color: unset;
  border: none;

  z-index: 10;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;

    pointer-events: none;
  }

  @media (min-width: var.$tablet-width) {
    display: none;
  }
}

.page__body--no-js .main-navigation__toggle {
  display: none;
}

.main-navigation__toggle-decoration {
  position: absolute;

  width: 100%;
  height: 2px;

  background-color: var.$burger-menu-opened;

  transition: background-color 0.3s ease;

  &--top {
    top: 2px;
    left: 0;

    transform: translateY(7px) rotate(45deg);

    transition: transform 0.3s ease;
  }

  &--middle {
    opacity: 0;

    top: 50%;
    left: 0;

    transform: translateY(-50%) scaleX(0);

    transition: transform 0.6s ease, opacity 0.3s ease;
  }

  &--bottom {
    bottom: 2px;
    left: 0;

    transform: translateY(-7px) rotate(-45deg);

    transition: transform 0.3s ease;
  }
}

.main-navigation--closed .main-navigation__toggle-decoration {
  background-color: var.$burger-menu-closed;

  &--top {
    transform: translateY(0) rotate(0);
  }

  &--middle {
    opacity: 1;

    transform: translateY(-50%) scaleX(1);
  }

  &--bottom {
    transform: translateY(0) rotate(0);
  }
}

.main-navigation__wrapper {
  position: absolute;

  top: 79px;
  left: 0;

  width: 100%;

  z-index: 5;

  @media (min-width: var.$tablet-width) {
    position: initial;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    padding: 0 50px;

    box-sizing: border-box;

    z-index: 1;
  }
}

.main-navigation--closed .main-navigation__wrapper {
  display: none;

  @media (min-width: var.$tablet-width) {
    display: grid;
  }

  @media (min-width: var.$desktop-width) {
    column-gap: 239px;
  }
}

.page__body--no-js .main-navigation__wrapper {
  display: block;

  position: initial;

  padding: 79px 0 0 0;

  @media (min-width: var.$tablet-width) {
    display: grid;

    position: initial;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    padding: 0 50px;

    box-sizing: border-box;

    z-index: 1;
  }
}

.main-navigation__site-list,
.main-navigation__service-list,
.main-navigation__additional-list {
  @include mix.list-reset;
}

.main-navigation__note {
  display: none;

  @media (min-width: var.$tablet-width) {
    display: flex;

    justify-content: flex-end;
    align-items: flex-start;

    padding: 20px 0 0 0;

    grid-row: 2 / 3;
    grid-column: 2 / 3;
  }
}

.main-navigation__decoration {
  @media (min-width: var.$tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;

    position: relative;

    z-index: -1;

    &::before {
      content: "";
      position: absolute;

      top: 0;
      left: 50%;

      width: 100vw;
      height: 100%;
      background-color: var.$hero-background;

      transform: translateX(-50%);
    }

    &::after {
      content: "";
      position: absolute;

      top: 0;
      left: 50%;

      width: 100vw;
      height: 1px;
      background-color: var.$header-border;

      transform: translateX(-50%);
    }
  }

  &--index {
    &::before {
      background-color: var.$index-hero-background;
    }
  }
}
