@use "../global/variables" as var;
@use "../global/mixins" as mix;

.manufacturing {
  padding: 0 30px;
  margin: 0 0 58px 0;

  box-sizing: border-box;

  @media (min-width: var.$tablet-width) {
    padding: 0 50px;
    margin: 0 0 64px 0;
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 auto 105px auto;

    width: 1150px;
  }
}

.manufacturing__wrapper {
  padding: 22px 0 33px 0;
  margin: 0 auto;

  border: 1px solid var.$products-cart-border;

  max-width: 450px;

  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0 6px 10px 0 var.$products-cart-shadow;
  }

  &:active {
    box-shadow: 0 3px 5px 0 var.$products-cart-shadow;
  }

  @media (min-width: var.$tablet-width) {
    padding: 0 0 46px 0;

    display: grid;

    grid-template-rows: auto auto auto auto;

    max-width: unset;
  }

  @media (min-width: var.$desktop-width) {
    padding: 0;

    grid-template-rows: auto auto auto;
    grid-template-columns: 682px auto;
  }
}

.manufacturing__heading {
  @include mix.font(var.$bold-text, 17px, 700, 24px);

  padding: 0 13px 0 91px;
  margin: 0 0 26px 0;

  position: relative;

  &::before {
    content: "";
    position: absolute;

    top: 13px;
    left: 34px;

    width: 32px;
    height: 22px;

    background-image: url("../img/svg/video.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: var.$tablet-width) {
    @include mix.font(var.$bold-text, 20px, 700, 24px);

    grid-row: 2 / 3;

    padding: 41px 290px 0 107px;
    margin: 0 0 24px 0;

    &::before {
      top: 39px;
      left: 42px;
    }

    br {
      display: none;
    }
  }

  @media (min-width: var.$desktop-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    padding: 96px 110px 0 79px;
    margin: 0 0 27px 0;

    &::before {
      top: 47px;
      left: 79px;
    }

    br {
      display: inline;
    }
  }
}

.manufacturing__video {
  display: block;

  width: 100%;

  padding: 0;
  margin: 0 0 35px 0;

  position: relative;

  img {
    width: 100%;
    height: 100%;

    object-position: center;
    object-fit: cover;

    vertical-align: bottom;
  }

  @media (min-width: var.$tablet-width) {
    grid-row: 1 / 2;

    margin: 0;
  }

  @media (min-width: var.$desktop-width) {
    grid-row: 1 / -1;
    grid-column: 1 / 2;
  }
}

.manufacturing__video-button {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 101px;
  height: 77px;

  transform: translate(-50%, -50%) scale(1);

  background-image: url("../img/svg/play.svg");
  background-repeat: no-repeat;
  background-color: unset;

  border: unset;

  cursor: pointer;

  transition: transform 0.3s ease, opacity 0.3s ease;

  &:hover {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active {
    transform: translate(-50%, -50%) scale(0.8);

    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.1;

    pointer-events: none;

    cursor: default;
  }
}

.manufacturing__description {
  @include mix.font(var.$main-text, 13px, 400, 24px);

  padding: 0 10px 0 34px;
  margin: 0 0 41px 0;

  @media (min-width: var.$tablet-width) {
    @include mix.font(var.$main-text, 15px, 400, 30px);

    padding: 0 40px;
  }

  @media (min-width: var.$desktop-width) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    padding: 0 36px 0 79px;
    margin: 0 0 51px 0;
  }
}

.manufacturing__link {
  margin: 0 auto;

  width: calc(100% - 68px);

  @media (min-width: var.$tablet-width) {
    width: calc(100% - 80px);
  }

  @media (min-width: var.$desktop-width) {
    @include mix.font(var.$main-text, 17px, 700, 16px);

    grid-row: 3 / 4;
    grid-column: 2 / 3;

    margin: 0 auto 60px 80px;

    width: calc(100% - 137px);
  }
}
