@use "../global/variables" as var;
@use "../global/mixins" as mix;

.reviews {
  position: relative;

  &::before {
    content: "";
    position: absolute;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 6px;

    background-image: url("../img/svg/zigzag-line-mobile.svg");
    background-repeat: repeat-x;
  }

  @media (min-width: var.$tablet-width) {
    margin: 0 0 85px 0;

    background-image: url("../img/jpg/review-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 center;

    &::before {
      bottom: -85px;

      height: 17px;

      background-image: url("../img/svg/zigzag-line-tablet.svg");
    }

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/review-tablet@2x.jpg");
    }
  }

  @media (min-width: var.$desktop-width) {
    max-width: 1150px;

    padding: 0 50px 0 50px;

    margin: 0 auto 90px auto;

    background-image: unset;

    box-sizing: border-box;

    &::before {
      width: calc(100% - 100px);
      height: 23px;

      left: 50%;
      bottom: -90px;

      transform: translateX(-50%);

      background-image: url("../img/svg/zigzag-line-desktop.svg");
      background-repeat: no-repeat;
    }
  }
}

.reviews__wrapper {
  padding: 27px 30px 51px 30px;

  box-sizing: border-box;

  @media (min-width: var.$tablet-width) {
    display: grid;

    grid-template-rows: auto auto;
    grid-template-columns: auto 175px;

    padding: 79px 50px 47px 50px;

    &::before {
      height: 17px;

      background-image: url("../img/svg/zigzag-line-tablet.svg");
    }
  }

  @media (min-width: var.$desktop-width) {
    padding: 78px 0 96px 174px;

    background-image: url("../img/jpg/review-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 center;

    @media (min-resolution: 2dppx) {
      background-image: url("../img/jpg/review-desktop@2x.jpg");
    }
  }
}

.reviews__heading {
  @include mix.font(var.$bold-text, 25px, 700, 30px);

  margin: 0 0 14px 0;

  @media (min-width: var.$tablet-width) {
    @include mix.font(var.$bold-text, 43px, 700, 50px);

    grid-row: 1 / 2;
    grid-column: 1 / 2;

    margin: 4px 0 38px 0;
  }

  @media (min-width: var.$desktop-width) {
    @include mix.font(var.$bold-text, 53px, 700, 57px);

    margin: 0 0 35px 0;
  }
}

.reviews__slider {
  @media (min-width: var.$tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}

.reviews__text {
  @include mix.font(var.$main-text, 15px, 400, 30px);

  margin: 0 0 33px 0;

  height: 270px;

  overflow-y: auto;

  @media (min-width: var.$tablet-width) {
    @include mix.font(var.$main-text, 17px, 400, 30px);

    margin: 0 0 61px 0;

    height: 120px;

    br {
      display: none;
    }
  }

  @media (min-width: var.$desktop-width) {
    margin: 0 65px 44px 0;

    height: 90px;
  }
}

.reviews__author {
  @media (min-width: var.$desktop-width) {
    max-width: 50%;
  }
}

.reviews__author-name {
  @include mix.font(var.$bold-text, 17px, 700, 24px);

  margin: 0 0 5px 0;
}

.reviews__author-nickname {
  @include mix.font(var.$main-text, 17px, 400, 30px);

  margin: 0 0 120px 0;

  @media (min-width: var.$tablet-width) {
    margin: 0;
  }
}

.reviews__link {
  @media (min-width: var.$tablet-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    align-self: flex-start;
  }

  @media (min-width: var.$desktop-width) {
    margin: 1px 0 0 0;
  }
}
