@use "../global/variables" as var;
@use "../global/mixins" as mix;

.service-list {
  display: flex;
  flex-direction: column;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;

    grid-row: 1 / 2;
    grid-column: 1 / -1;

    justify-content: flex-end;

    position: relative;

    &::before {
      content: "";
      position: absolute;

      bottom: 0;
      left: 50%;

      width: calc(100% + 100px);
      height: 1px;

      transform: translateX(-50%);

      background-color: var.$header-shadow;
    }
  }

  @media (min-width: var.$desktop-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    &::before {
      display: none;
    }
  }
}

.service-list__item {
  display: flex;

  justify-content: center;
  align-items: center;

  position: relative;

  min-height: 79px;

  @media (min-width: var.$tablet-width) {
    min-height: 88px;
    width: auto;
  }
}

.service-list__link {
  @include mix.font(var.$bold-text, 17px, 700, 24px);

  position: relative;

  padding: 27px 30px 27.5px 76px;

  width: 100%;

  box-sizing: border-box;

  background-color: var.$main-background;

  box-shadow: 0 1px 0 0 var.$header-shadow, 0 1px 0 0 var.$header-shadow inset;

  transition: color 0.3s ease;

  &::before {
    content: "";
    position: absolute;

    mask-repeat: no-repeat;
    background-color: var.$header-menu-icons;

    transition: background-color 0.3s ease;
  }

  &:hover {
    color: rgba(var.$bold-text, 0.6);

    &::before {
      background-color: var.$header-menu-icons-hover;
    }
  }

  &:active {
    color: rgba(var.$bold-text, 0.3);

    &::before {
      background-color: var.$header-menu-icons-active;
    }
  }

  @media (min-width: var.$tablet-width) {
    padding: 32px 0 32px 53px;

    background-color: unset;

    box-shadow: unset;

    &::after {
      content: "";
      position: absolute;

      top: 0;
      left: 0;

      width: 1px;
      height: 100%;

      background-color: var.$header-shadow;
    }
  }
}

.service-list__link--search {
  &::before {
    top: 32px;
    left: 32px;

    width: 18px;
    height: 18px;

    mask-image: url("../img/svg/search.svg");
  }

  @media (min-width: var.$tablet-width) {
    padding: 40px;

    min-height: 88px;
    width: 82px;
    height: 100%;

    box-shadow: unset;

    &::before {
      top: 36px;
      left: 33px;
    }
  }
}

.service-list__link--cart {
  &::before {
    top: 31px;
    left: 30px;

    width: 21px;
    height: 18px;

    mask-image: url("../img/svg/cart.svg");
  }

  @media (min-width: var.$tablet-width) {
    min-height: 88px;
    min-width: 264px;
    max-width: 50vw;

    text-align: end;

    &::before {
      top: 35px;
      left: 31px;
    }
  }
}

.service-list__link-text {
  @media (min-width: var.$tablet-width) {
    display: none;
  }
}
