@use "../global/variables" as var;
@use "../global/mixins" as mix;

.site-list {
  display: flex;
  flex-direction: column;

  @media (min-width: var.$tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;

    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }

  @media (min-width: var.$desktop-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    column-gap: 35px;
  }
}

.site-list__item {
  display: flex;

  justify-content: center;
  align-items: center;

  position: relative;

  min-height: 79px;

  @media (min-width: var.$tablet-width) {
    min-height: 67px;
    min-width: 167px;
    width: auto;
  }

  @media (min-width: var.$desktop-width) {
    min-height: 88px;
    width: 185px;
  }
}

.site-list__link {
  @include mix.font(var.$bold-text, 17px, 700, 24px);

  padding: 27px 30px 27.5px 76px;

  width: 100%;

  box-sizing: border-box;

  background-color: var.$main-background;

  box-shadow: 0 1px 0 0 var.$header-shadow, 0 1px 0 0 var.$header-shadow inset;

  transition: color 0.3s ease;

  position: relative;

  &:hover {
    color: rgba(var.$bold-text, 0.6);
  }

  &:active {
    color: rgba(var.$bold-text, 0.3);
  }

  @media (min-width: var.$tablet-width) {
    @include mix.font(var.$bold-text, 15px, 700, 24px);

    background: none;

    padding: 21.5px 10px 21.5px 0;

    box-shadow: unset;
  }

  @media (min-width: var.$desktop-width) {
    @include mix.font(var.$bold-text, 17px, 700, 24px);

    padding: 32px 10px 32px 0;

    &::before {
      content: "";
      position: absolute;

      top: 0;
      right: 0;

      width: 1px;
      height: 100%;

      background-color: var.$header-border;
    }
  }
}

.site-list__item:nth-of-type(2n) .site-list__link {
  &::before {
    display: none;
  }
}
