// TEXT COLORS

$main-text: #444444;
$bold-text: #000000;
$bright-text: #ffffff;

// BACKGROUND COLORS

$main-background: #ffffff;
$hero-background: #f1f1f1;

// SHADOWS

// DIVIDER

// MAIN-BUTTON

$main-button-background: #ffffff;
$main-button-border: #444444;
$main-button-font: #444444;
$main-button-hover-background: #444444;
$main-button-hover-font: #ffffff;
$main-button-active-background: #444444;
$main-button-active-font: rgba(#ffffff, 0.3);

// BURGER-BUTTON

$burger-menu-closed: #231f20;
$burger-menu-opened: #000000;

// HERO-LINK

$hero-link-background: #63d1bb;
$hero-link-additional-background: #56c3b2;

// INPUT

// VIEWPORTS

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;
